
 .clock-container{
    border: 10px solid #345263;
    border-radius:50%;
    width:300px;
    height:300px;
    position:relative;
    margin:0 auto;
 }
 .point{
    width:20px;
    height:20px;
    background:#345263;
    position:absolute;
    border-radius:50%;
    border: 2px solid #345263;
    top:135px;
    right:135px;
 }
 .hour{
    position:absolute;
    font-size:20px;
    font-weight:bold;
    color:#345263;
 }
 .num-1{
    top:35px;
    left:220px
 }
 
 .num-2{
    top:75px;
    left:255px;
 }
 .num-3{
    top:135px;
    left:270px;
 }
 .num-4{
    top:200px;
    left:255px;
 }
 .num-5{
    top:240px;
    right:75px;
 }
 .num-6{
    top:265px;
    right:140px;
 }
 .num-7{
    top:250px;
    right:210px;
 }
 .num-8{
    top:200px;
    right:255px;
 }
 .num-9{
    top:135px;
    right:270px;
 }
 .num-10{
    top:75px;
    right:255px;
 } 
 
 .num-11{
    top:25px;
    right:208px;
 } 
 
 .num-12{
    top:10px;
    right:140px;
 } 
 .brand{
    color:#345263;
    font-size:20px;
    font-weight:bold;
    position:absolute;
    top:40px;
    left:120px;

 }
 .arrow-hand-wrapper{
    width:250px;
    height:250px;
    /* background-color:#123456; */
    position:absolute;
    top:25px;
    left:25px;
    border-radius:50%;
 }
 .minute-hand{
    position:relative;
 }
 .minute-hand .hand{
    width:3px;
    height:120px;
    background-color:#345263;
    position:absolute;
    left:125px;

 }
 .minute-hand .arrow{
    color: #345263;
    font-weight:bold;
    font-size:19px;
    transform:rotate(180deg);
    position:absolute;
    left:120px;
    top:-10px;

 }
 .hour-hand{
    position:relative;
 }
 .hour-hand .hand{
    width:3px;
    height:60px;
    background-color:#345263;
    position:absolute;
    left:125px;
    top:50px;

 }
 .hour-hand .arrow{
    color: #345263;
    font-weight:bold;
    font-size:20px;
    transform:rotate(180deg);
    position:absolute;
    left:120px;
    top:40px;

 }


 .second-hand{
    position:relative;
 }
 .second-hand .hand{
    width:2px;
    height:120px;
    background-color:#345263;
    position:absolute;
    left:125px;

 }
 

 

